/* contents.css */

html, body, section {
  height: 100%;
  width: 100%;
}

#scene1, #scene2, #scene3{
 /* background-color: #b1d7e4*/
 background-image: url("../img/preloads/main.jpg")
}

#scene1 .title {
  position: relative;
  top: 80px;
  left:0px;
  height:100px;
  width: 1280px;
  color: #FF9900;
  font-size:90px;
  font-weight: bold;
  text-align:center;
}

#scene1 .image {
  position: relative;
  top: 120px;
  left:500px;
  height:400px; 
  width: 300px;
}

#scene1 .image img{
  position: absolute;
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

#scene1 .info {
  position: relative;
  top: 460px;
  left:0px;
  height:100px;
  width: 1280px;
  color: #FF3300;
  font-size:48px;
  font-weight: bold;
  text-align:center;
}

#scene2 .menu-area{
  position: relative;
  top: 100px;
  left:150px;
  height:640px;
  /*width: 1000px;*/
}

#scene2 .menubox{
  top: 0px;
  width: 1000px;
  height: 230px;
  font-size:64px;
  padding:8px 0 10px;
  color:#fff;
  border-radius:13px;
  text-align:center;
}

/*#scene2 .menu1{
 position: absolute;
 left: 0px;
 max-width:100%;
 max-height:100%;
 background-color:#009dc6;
}*/

#scene2 .menu2{
 position: absolute;
 left: 0px;
 top:330px;
 max-width:100%;
 max-height:100%;
 background-color:#009dc6;
}

#scene2 .title {
  position: relative;
  top: 100px;
  left:0px;
  height:100px;
  width: 1280px;
  color: #FF9900;
  font-size:90px;
  font-weight: bold;
  text-align:center;
}

/*#scene3 .header {
  position: absolute;
  top: 0px;
  left:0px;
  height:40px;
  width: 1280px;
  color: #fff;
  background-color: #0074bf;
  font-size:18px;
  text-align:left;
  padding:0px 20px 0px;
}

#scene3 .footer {
 position: absolute;
  top: 760px;
  left:0px;
  height:40px;
  width: 1280px;
  color: #fff;
  background-color: #0074bf;
  font-size:18px;
  text-align:left;
  padding:0px 20px 0px;
}*/

#scene3 .info {
 position: relative;
 border:6px solid #fc6;
 background-color: #fff;
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 border-radius: 25px;
 top: 80px;
 width: 600px;
 height: 620px;
 left:30px;
}

#scene3 .info p{
 position: absolute;
 top:  -20px;
 left: 30px;
 padding: 10px;
 font-size:44px;
 width: 520px;
 height: 530px;
 color:#292929;
}

#scene3 .menu-area{
  position: absolute;
  top: 100px;
  left: 700px;
  height:180px;
  width: 500px;
}

#scene3 .menubox{
  top: 0px;
  width: 100%;
  height: 100%;
  font-size:64px;
  padding:8px 0 10px;
  color:#fff;
  border-radius:13px;
  text-align:center;
}

#scene3 .end{
 position: absolute;
 left: 0px;
 /*max-width:100%;
 max-height:100%;*/
 background-color:#009dc6;
}

.menubtn p{
  display:inline-block;
  vertical-align:middle;
}

#scene2 .selected, #scene3 .selected {
    background-color:#4d639f;
}

